@{
    ViewBag.Title = "Privado";
}

<div class="jumbotron">
    <h2>Bienvenido!</h2>
    <p class="lead">El precio de la grandeza es la responsabilidad. Sir Winston Churchill</p>
    <p><a href="~" class="btn btn-primary btn-lg">Guía de Usuario</a></p>
    <p><a href="~" class="btn btn-primary btn-lg">Preguntas Frecuentes</a></p>
</div>