@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin:0; padding:5px">
    <blockquote>
        <strong>La factura electrónica es una moderna alternativa a los sistemas de facturación tradicionales.</strong>
    </blockquote>
    <div class="container">
        <p>
            <a href="~" class="btn btn-primary btn-lg">Normativa Aplicable</a>
        </p>
        <p>
            <a href="~" class="btn btn-primary btn-lg">Preguntas Frecuentes</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Emisor de Factura Electrónica</h2>
        <p>
            Convertirse en emisor autorizado de factura electrónica le brinda múltiples ventajas y oportunidades de ahorros y beneficios a su negocio. Conozca como hacerlo.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leer más..</a></p>
    </div>
    <div class="col-md-4">
        <h2>Receptor de Factura Electrónica</h2>
        <p>
            Sus proveedores le informaron que tienen planes o ya están facturando electrónicamente, o simplemente desea prepararse para ese momento ?
            Conozca sobre como esto le beneficia y que aspectos debe tomar en cuenta.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leer más..</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consumidor Final</h2>
        <p>
            En Panamá, se están autorizando a empresas a utilizar la factura electrónica para consumidor final. Esto le brinda grandes beneficios tanto a las empresas como a usted como consumidor final.  Conozca como funcio,
            los diferentes formatos en que las puede recibir y la manera de verificar su validez.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leer más..</a></p>
    </div>
</div>